
IMD3006-AirTrafficControlSimulator.vcxproj.user
IMD3006-AirTrafficControlSimulator.vcxproj.filters
IMD3006-AirTrafficControlSimulator.vcxproj
IMD3006-AirTrafficControlSimulator.sln
icon.rc
config.make
obj/
bin/2DplaneGame_debug.exe
bin/data/runway.png
bin/fmod.dll
bin/fmodL.dll
bin/FreeImage.dll
bin/IMD3006-AirTrafficControlSimulator_debug.exe
bin/IMD3006-AirTrafficControlSimulator_debug.pdb
bin/2DplaneGame_debug.exe
.vs/
.vs/IMD3006-AirTrafficControlSimulator/v17/Solution.VC.db-wal
.vs/IMD3006-AirTrafficControlSimulator/v17/Solution.VC.db-shm
.vs/IMD3006-AirTrafficControlSimulator/v17/Solution.VC.db
.vs/IMD3006-AirTrafficControlSimulator/v17/ipch/AutoPCH/d1f0b34ae2880dc3/RUNWAY.ipch
.vs/IMD3006-AirTrafficControlSimulator/v17/ipch/AutoPCH/c476fd319dadfb3b/OFAPP.ipch
.vs/IMD3006-AirTrafficControlSimulator/v17/ipch/AutoPCH/928af31a0fe13467/OFAPP.ipch
.vs/IMD3006-AirTrafficControlSimulator/v17/ipch/AutoPCH/8ff157afcd5e8b23/RADAR.ipch
.vs/IMD3006-AirTrafficControlSimulator/v17/ipch/AutoPCH/8ce8b7e877ea49bd/AIRCRAFT.ipch
.vs/IMD3006-AirTrafficControlSimulator/v17/ipch/AutoPCH/80751886e6c596ca/MAIN.ipch
.vs/IMD3006-AirTrafficControlSimulator/v17/fileList.bin
.vs/IMD3006-AirTrafficControlSimulator/v17/Browse.VC.opendb
.vs/IMD3006-AirTrafficControlSimulator/v17/Browse.VC.db-wal
.vs/IMD3006-AirTrafficControlSimulator/v17/Browse.VC.db-shm
.vs/IMD3006-AirTrafficControlSimulator/v17/Browse.VC.db
.vs/IMD3006-AirTrafficControlSimulator/v17/.suo
.vs/IMD3006-AirTrafficControlSimulator/FileContentIndex/d4d42f10-e46b-4482-8e68-816c2c5131a6.vsidx
.vs/IMD3006-AirTrafficControlSimulator/FileContentIndex/aebfadfb-48ab-45ea-8c34-b3a435e36b06.vsidx
.vs/IMD3006-AirTrafficControlSimulator/FileContentIndex/96970032-7bbc-4dcf-b5f6-134769a4fa6d.vsidx
.vs/IMD3006-AirTrafficControlSimulator/FileContentIndex/66f8b2a2-8bb8-492a-b185-ced5f9aead51.vsidx
.vs/IMD3006-AirTrafficControlSimulator/FileContentIndex/597c198d-bf4f-4e1f-9c8e-e3839fd5b177.vsidx
.vs/IMD3006-AirTrafficControlSimulator/FileContentIndex/27481d3c-5868-4098-b1f9-f965e7e7b09a.vsidx
.vs/IMD3006-AirTrafficControlSimulator/FileContentIndex/33330837-5d5f-4a9c-b20a-50f8eae407d6.vsidx
obj/addons/ofxImGui/libs/imgui/backends/Debug/imgui_impl_glfw.obj
obj/addons/ofxImGui/libs/imgui/backends/Debug/imgui_impl_glfw_context_support.obj
obj/addons/ofxImGui/libs/imgui/backends/Debug/imgui_impl_opengl2.obj
obj/addons/ofxImGui/libs/imgui/backends/Debug/imgui_impl_opengl3.obj
obj/addons/ofxImGui/libs/imgui/extras/Debug/imgui_stdlib.obj
obj/addons/ofxImGui/libs/imgui/src/Debug/imgui.obj
obj/addons/ofxImGui/libs/imgui/src/Debug/imgui_demo.obj
obj/addons/ofxImGui/libs/imgui/src/Debug/imgui_draw.obj
obj/addons/ofxImGui/libs/imgui/src/Debug/imgui_tables.obj
obj/addons/ofxImGui/libs/imgui/src/Debug/imgui_widgets.obj
obj/addons/ofxImGui/src/Debug/BaseEngine.obj
obj/addons/ofxImGui/src/Debug/DefaultTheme.obj
obj/addons/ofxImGui/src/Debug/EngineGLFW.obj
obj/addons/ofxImGui/src/Debug/EngineOpenFrameworks.obj
obj/addons/ofxImGui/src/Debug/EngineOpenGLES.obj
obj/addons/ofxImGui/src/Debug/Gui.obj
obj/addons/ofxImGui/src/Debug/ImHelpers.obj
obj/addons/ofxImGui/src/Debug/ofxImGuiLoggerChannel.obj
obj/addons/ofxOpenCv/src/Debug/ofxCvColorImage.obj
obj/addons/ofxOpenCv/src/Debug/ofxCvContourFinder.obj
obj/addons/ofxOpenCv/src/Debug/ofxCvFloatImage.obj
obj/addons/ofxOpenCv/src/Debug/ofxCvGrayscaleImage.obj
obj/addons/ofxOpenCv/src/Debug/ofxCvHaarFinder.obj
obj/addons/ofxOpenCv/src/Debug/ofxCvImage.obj
obj/addons/ofxOpenCv/src/Debug/ofxCvShortImage.obj
obj/x64/Debug/Build/src/Debug/Aircraft.obj
obj/x64/Debug/Build/src/Debug/gameObject.obj
obj/x64/Debug/Build/src/Debug/main.obj
obj/x64/Debug/Build/src/Debug/Model.obj
obj/x64/Debug/Build/src/Debug/ofApp.obj
obj/x64/Debug/Build/src/Debug/Radar.obj
obj/x64/Debug/Build/src/Debug/Runway.obj
obj/x64/Debug/icon.res
obj/x64/Debug/IMD3006-.7FD42DF7.tlog/CL.command.1.tlog
obj/x64/Debug/IMD3006-.7FD42DF7.tlog/Cl.items.tlog
obj/x64/Debug/IMD3006-.7FD42DF7.tlog/CL.read.1.tlog
obj/x64/Debug/IMD3006-.7FD42DF7.tlog/CL.write.1.tlog
obj/x64/Debug/IMD3006-.7FD42DF7.tlog/IMD3006-AirTrafficControlSimulator.lastbuildstate
obj/x64/Debug/IMD3006-.7FD42DF7.tlog/link.command.1.tlog
obj/x64/Debug/IMD3006-.7FD42DF7.tlog/link.read.1.tlog
obj/x64/Debug/IMD3006-.7FD42DF7.tlog/link.write.1.tlog
obj/x64/Debug/IMD3006-.7FD42DF7.tlog/rc.command.1.tlog
obj/x64/Debug/IMD3006-.7FD42DF7.tlog/rc.read.1.tlog
obj/x64/Debug/IMD3006-.7FD42DF7.tlog/rc.write.1.tlog
obj/x64/Debug/IMD3006-AirTrafficControlSimulator.log
obj/x64/Debug/IMD3006-AirTrafficControlSimulator_debug.exe.recipe
obj/x64/Debug/vc143.pdb
